@{
    ViewData["Title"] = "Tomatoes";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>
<p>Check out some wonderful tomatoes below:</p>

<div class="row">
    <div class="section-title">
        <h2>Tomatoes</h2>
        <hr />
    </div>
</div>

<div class="row">

    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-01.jpg" alt="tomato-01" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">tomato 1 is awesome</a>
            <h4 class="col-xs-4 text-right">$4.99</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">additional information about tomato1 goes here</p>
        </div>
    </div>
    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-02.jpg" alt="tomato-02" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">tomato two is awesome</a>
            <h4 class="col-xs-4 text-right">$3.99</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">additional information about tomato 2 goes here</p>
        </div>
    </div>
    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-03.jpg" alt="tomato-03" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">tomato three is awesome</a>
            <h4 class="col-xs-4 text-right">$3.49</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">additional information about tomato3 goes here</p>
        </div>
    </div>
    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-04.jpg" alt="tomato-04" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">tomato four is awesome</a>
            <h4 class="col-xs-4 text-right">$7.49</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">additional information about tomato four goes here</p>
        </div>
    </div>
    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-05.jpg" alt="tomato-05" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">tomato 5 is awesome</a>
            <h4 class="col-xs-4 text-right">$4.99</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">additional information about tomato five goes here. This info is super cool!</p>
        </div>
    </div>
    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-06.jpg" alt="tomato-06" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">tomato six is really juicy and tasty</a>
            <h4 class="col-xs-4 text-right">$4.99</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">additional information about tomato6 goes here</p>
        </div>
    </div>
    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-07.jpg" alt="tomato-07" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">tomato seven is awesome</a>
            <h4 class="col-xs-4 text-right">$4.99</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">Check out this amazing summary section that has additional information 
                about tomato seven. This is quite possibly, the most delicious tomato that you have 
                ever put in your mouth. No, seriously... It's amazing. Buy it!
            </p>
        </div>
    </div>
    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-08.jpg" alt="tomato-08" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">This is the title link for 8</a>
            <h4 class="col-xs-4 text-right">$1.99</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">Only $1.99, you'd be crazy not to buy these seeds!</p>
        </div>
    </div>
    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-09.jpg" alt="tomato-09" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">Ninth Tomato Title Bar</a>
            <h4 class="col-xs-4 text-right">$4.35</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">additional information about tomato9 goes here</p>
        </div>
    </div>
    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-10.jpg" alt="tomato-10" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">Tenth Tomato Header</a>
            <h4 class="col-xs-4 text-right">$3.99</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">additional information about tomato10 goes here</p>
        </div>
    </div>
    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-11.jpg" alt="tomato-11" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">Tomato Eleven</a>
            <h4 class="col-xs-4 text-right">$4.99</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">Tomato 11 is not appreciated as much as some of our other tomatoes but it is one you definitely need to try</p>
        </div>
    </div>
    <div class="product col-md-3">
        <div class="row">
            <img src="~/images/l/tomato-12.jpg" alt="tomato-12" class="col-xs-12 img-responsive" />
        </div>
        <div class="row item-price">
            <a class="col-xs-8" href="#">Last But Not Least</a>
            <h4 class="col-xs-4 text-right">$3.29</h4>
        </div>
        <div class="row short-description">
            <p class="col-xs-12">This is the last tomato on my list but the first one in my heart!</p>
        </div>
    </div>

</div><!--/.row-->

<div class="row">
    @foreach (var item in Model)
    {

        <div class="product col-md-3">
            <div class="row">
                <img src="@item.ImageLink" alt="@item.ImageLink" class="col-xs-12 img-responsive" />
            </div>
            <div class="row item-price">
                <a class="col-xs-8" href="#">@Html.DisplayFor(modelItem => item.Title)</a>
                <h4 class="col-xs-4 text-right">@Html.DisplayFor(modelItem => item.Price)</h4>
            </div>
            <div class="row short-description">
                <p class="col-xs-12">@Html.DisplayFor(modelItem => item.Tagline)</p>
            </div>
        </div>

    }
</div>